
# Terraform state files
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
KeyEC2.pem
output.json
KritagyaTerraform-aurora-db-credentials.pem
.terraform.lock.hcl
terraform.tfvars
*.pem
lamda_module/lambda_function_payload.zip

# Terraform directory
.terraform/